.Avatar {
  transform: scale(1.2);
}

.avatarBackground {
  fill: var(--avatar-bg-color);
}

@media (min-width: 30rem) {
  .Avatar {
    transform: scale(1.4);
  }
}


@media (min-width: 90rem) {
  .Avatar {
    transform: scale(2);
  }
}
