.MainProject {
  background-color: var(--bg-light);
}

.main-project-swiper {
  width: 100%;
  height: 90vh;

  margin-inline: auto;
}

.main-project-swiper .swiper-slide {
  font-size: 18px;

  display: flex;

  text-align: center;

  justify-content: center;
  align-items: center;
}

.main-project-swiper .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

@media ((min-width: 35rem) and (max-width: 60rem)) {
  .main-project-swiper {
    height: 120vh;
  }
}

@media (min-width: 60rem) {
  .main-project-swiper {
    height: 85vh;
  }
}
